<div class="container">
  <div class="section">
    <h1>Gestione timbrature</h1>
    <blockquote>Selezionare l'azione desiderata e poi passare il badge</blockquote>
  </div>
  <div class="divider"></div>

  <div class="row">
    <div class="col s12 m6">
      <!--Card Entrata definition-->
      <div class="card horizontal hoverable modal-trigger" (click)="openLector('entrata')">
        <div class="card-image">
          <i class="large material-icons">work</i>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4 style="font-weight: bold" class="center-align">Entrata</h4>
          </div>
          <div class="card-action">
            <a class="center-align" href="#modalBadgeLector">Leggi Badge</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <!--Card Uscita defnition-->
      <div class="card horizontal hoverable modal-trigger" (click)="openLector('uscita')">
        <div class="card-image">
          <i class="large material-icons">home</i>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4 style="font-weight: bold" class="center-align">Uscita</h4>
          </div>
          <div class="card-action">
            <a class="center-align" href="#modalBadgeLector">Leggi Badge</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modalBadgeLector" class="modal"
     materialize="modal"
     [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalLectorAction">
  <div class="modal-content">
    <h4>Passare il badge</h4>
    <div class="input-field">
      <input id="badgeNumber" type="text" #searchBox (keyup)="search(searchBox.value)" />
      <label for="badgeNumber">Inserire il numero di badge...</label>
    </div>

    <div class="divider"></div>
    <div class="card horizontal" *ngIf="badgedUsers">
      <div class="card-image">
        <i class="material-icons large">perm_identity</i>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <b>Nome:</b> {{ badgedUsers[0].surname }} {{ badgedUsers[0].name }} <br />
            <b>Ruolo:</b> {{ badgedUsers[0].role }} - <b>Badge Numero:</b> {{badgedUsers[0].badge_number }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a href="#" class="waves-effect waves-green btn-flat" materialize="toast" [materializeActions]="toastAction" (click)="closeLector('Timbra'); searchBox.value=null">Timbra!</a>
    <a href="#" class="waves-effect waves-green btn-flat" (click)="closeLector('Annulla'); searchBox.value=null">Annulla!</a>
  </div>
</div>

<!--Toast definition-->
